<div class="well" id="search-bar">
<h3><center>Enter City...</center></h3>
<form ng-submit="searchCity()" class="form-inline" id="search">
  <div class="form-group">
    <input type="text" ng-model="city" class="form-control" placeholder="Type City Name">
  </div>
  <input type="submit" value="Search" class="btn btn-danger">
</div>
<hr>
<br>
<div class="well row" ng-show="weather" id="weather">  
  <h3><center>'{{ main }} in {{ currentCity }} '</center></h3>
  <h2><center> {{ weather.main.temp }} &deg; F</center></h2>    
</div>

<div class="row" ng-show="photos.length > 0">
  <h3><center>People around {{ currentCity }} </center></h3>
  <div class="col-md-3 col-sm-4" ng-repeat="photo in photos">
    <div class="thumbnail">
      <img ng-src="{{photo.images.standard_resolution.url}}">
      <br>
      <p>
        @{{photo.user.username}}
        <span class="pull-right">
          <span class="glyphicon glyphicon-heart"></span>
          <ng-pluralize count="{{photo.likes.count}}" when="{'one': '1 like', 'other': '{} likes'}"></ng-pluralize>
        </span>
      </p>
      <!-- <p><a href="javascript:void(0)" ng-click="savePhoto(photo)">Save</a></p> -->
    </div>
  </div>
</div>